body{
    background: #404040;
}
#jsonList > table{
    width: 100%;
    padding: 5em;
}
#jsonList > table tr{
    text-align: left;
    background: #fff;
}
#jsonList > table tr:first-child th{
    background: #3d2f2f;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
}
#jsonList > table tr th{
    padding: 10px;
    border: 1px solid #404040;
}
#jsonList > table tr td{
    padding: 10px;
    border: 1px solid #404040;
}
.wrapPage{
    margin: 2em;
}
.wrapInput{
    text-align: center;
}
.wrapInput input{
    width: 50%;
    padding: 13px;
    border-radius: 20px;
    border: 1px solid transparent;
    outline: none;
}
.wrapTitle{
    text-align: center;
    color: #fff;
}

.importViewJsonFileWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em 15em;

}
.importViewJsonFileWrap button{
    width: fit-content;
    margin: 10px auto;
    padding: 10px 15px;
    border-radius: 9px;
    background: #83a1b6;
    color: #fff;
    border: none;
}
.importViewJsonFileWrap textarea{
    /* height: 300px; */
    overflow: scroll;
}